@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
section{
    background-image: url('../img/mendoza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.7;
    display: flex;
    min-height: 100vh;
  }
  .login{
    margin: auto;
    width: 90%;
    max-width: 450px;
    padding: 4.5em 3em;
    border-radius: 26px;
    background: rgba(147, 53, 141, 97%);
    border: solid 1px black;
    text-align: center;
  }
  .login-title{
    font-size: 2rem;
    margin-bottom: .5em;
    border-radius: 10px;
  }
  .login-paragraph{
    font-weight: 300;
  }
  .login-paragraph a{
    font-weight: 400;
    color: #000000;
  }
  .login-container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
  }
  .login-group{
    position: relative;
  }
  .login-input{
    width: 100%;
    background-color: #c7bfbf;
    color: #000000;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font-family: 'Roboto', sans-serif;
    border-radius: .3em;
    cursor: pointer;
  }
  .login-label{
    position: absolute;
    top: 0;
    left: 5px;
  }
  .login-submit{
    background-color: #FCE521;
    font-family: 'Roboto', sans-serif;
    font-weight: 300 bold;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: 5em;
    cursor: pointer;
  }